:root{
    --cor-fundo: #b635a0;
    --cor-branco: #ffffff;
    --cor-texto-primario: #1c1d1f;
    --cor-texto-segundario: #474b50;
    --cor-borda: #ffadeb;
    --cor-acento: #fa6ca7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,'Helvetica Neue', Arial, sans-serif;
    background-color: var(--cor--fundo);
    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;      
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    background-color: var(--cor--fundo);
    width: 320px;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    text-align: center;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
}

.card_image-container{
    width: 100%;
    height: 200px;
}

.card__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__info{
    padding: 24px;
}

.card__name{
    font-size: 1.5rem;
    color: var(--cor-texto-primario);
    margin-bottom: 8px;
}

.card__title{
    font-size: 1rem;
    color: var(--cor-texto-segundario);
    margin-bottom: 24px;

}

.card__social {
    display: flex; 
    justify-content: center;
    gap: 16px; 
}

.card__social a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--cor-acento);
    border: 2px solid var(--cor-borda);
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3 ease, color 0.3s ease;
}

.card__social a:hover{
    background-color: var(--cor-acento);
    color: var(--cor-branco);
    border-color: var(--cor-acento);
}

@media (max-width:400px) {
    .card{
        width: 90%;
    }
}